{% extends "jbase.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} {% endblock title %}
{% block middle %}
                <p></p><p></p><p></p><p></p>
                <p>|</p>
                <p>|</p><h2>PLEASETOPMEUP</h2>
                <p>|</p>
                <p>|</p>
                <p>Please enter details</p>
                <p>|</p>

         <form  action="" method="post">
            {% csrf_token %}
             <p>Please enter details</p>
            <div class="input-group input-group-sm center_div">
                {{form|crispy}}
            </div>
            <input type="submit" class="btn btn-primary btn-sm" value="Submit" />
        </form>  
                <p></p><p></p><p></p>
                 <p>|</p>
                 <p>|</p>
                 <p>|</p>
                 <p>|</p>
                 <p>|</p>
                 <p>|</p>
                 <p>|</p><p>|</p>
{% endblock middle %}
{% block lowslider %}
<a class = "btn btn-info btn-sm" href = "#" role = "button">Read more</a>
{% endblock lowslider %}
