{% extends "jbase.html" %}
{% load static %}
{% block title %} PLEASETOPMEUP {% endblock title %}
{% block middle %}
                <p>|</p>
                <p>|</p>
                <p>|</p>
                <div class="row p-1 m-1">
                <div class="col-sm-11">
                    <div class="container-fluid border border-success rounded shadow jgray">
                        <h3>Handy and safe tool to send airtime to someone in need.</h3>
                        <p>|We function in a safe environment and only allow small amounts and limited transactions to ensure security to the maximum for all users.
The participating Service Providers from USSD to SMS to Payment to Airtime providers are all legitimate and proven suppliers with golden track records.
The initial user sends a free USSD message to his/her sponsor who will receive a sms and sponsor can use the link received to make a debit or credit card payment in a safe environment of Instapay.   On receiving the small payment the Airtime Company Freepaid will immidiately send the airtime to the requesting user phone balance.
We acknowledge all the safety measures possible and adhere to the South African Poppi Act https://popia.co.za/.
Pleasetopmeup will never disclose or sell your information or credentials.We also do not get your card details as yourpayment happens on the secure site of Instapay.
Please see our Terms and Conditions on this link</p><p>|</p>
                    </div>
                </div>
                </div>
{% endblock middle %}
{% block lowslider %}
<a class = "btn btn-info btn-sm" href = "#" role = "button">Read more</a>
{% endblock lowslider %}
