{% extends "jbase.html" %}
{% load static %}
{% block title %} {% endblock title %}
{% block middle %}
		 <h1 class="display-3 text-right">name</h1>
		 <hr class="my-4 text-right">
		 <p class="lead text-right">description</p>
		 <p class="lead text-right">
		 	<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		 </p>
            <h2>TOPUP from  any phone to any network in SA</h2>
            <p>------------------Site under construction-----------------</p>
{% endblock middle %}
