{% extends "jbase.html" %}
{% load static %}
{% block title %} PLEASETOPMEUP {% endblock title %}
{% block middle %}
                <p>|</p>
                <p>|</p>
                <p>|</p>
                <div class="row">
                    <div class="container-fluid border rounded shadow jgray">
			<div class="col-sm-12 center_div">
				<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
                    					<img src="https://storage.cloud.google.com/profastchangingquicklythunder/phoneandcode.png" class="rounded img-fluid" alt="Send it">
						</div>
						<div class="carousel-item">
							<img src="https://storage.cloud.google.com/profastchangingquicklythunder/maininfo.png" class="rounded img-fluid"alt="more">
						</div>
					</div>
				</div>
			</div>
		    </div>
                </div>
		<div>

		</div>
		<div class="row">
			<div class="container-fluid border rounded shadow jgray">
			<div class="col-sm-12 center_div">
					<img src="https://storage.cloud.google.com/profastchangingquicklythunder/maininfo.png" class="rounded img-fluid" alt="Shortcode explanation">
			</div>
			</div>
		</div>
{% endblock middle %}
{% block lowslider %}
<a class = "btn btn-info btn-sm" href = "#" role = "button">Read more</a>
{% endblock lowslider %}
