{% extends "jbase.html" %}
{% load static %}
{% block title %} Proceed to payment gateway {% endblock title %}
{% block middle %}
                <p></p><p></p><p></p><p></p>
                <p>|</p>
                <h2>PLEASETOPMEUP</h2>
                <p></p><p></p><p></p>
                 <p>|</p>
                 <p>|</p>
        <form  action="https://instapay-sandbox.trustlinkhosting.com/index.php" method="post">
            {% csrf_token %}
            <div class="d-none input-group input-group-sm center_div">
                {{insta}}
            </div>
            <input type="submit" class="btn btn-primary btn-sm" value="Proceed" />
        </form>
                 <p>|</p>
                 <p>|</p>
                 <p>|</p><p>|</p>
{% endblock middle %}
{% block lowslider %}
<a class = "btn btn-info btn-sm" href = "#" role = "button">Read more</a>
{% endblock lowslider %}
