{% extends "jbase.html" %}
{% load static %}
{% block title %} {% endblock title %}
{% block middle %}
                <p></p><p></p><p></p><p></p>
                <p>|</p>
                <p>|</p>
                <p>|</p>
                <p>|</p>
                <p>|</p>
                <p>|</p>
                <h2>PLEASETOPMEUP</h2>
                <p></p><p></p><p></p>
                 <p>|</p>
                 <p>|</p>
		 <a class = "btn btn-info btn-sm" href = "{{ payment_destination }}?{{ url_data }}" role = "button">Go to Payment</a>
                 <p>|</p>
                 <p>|</p>
                 <p>|</p><p>|</p>
{% endblock middle %}
{% block lowslider %}
<a class = "btn btn-info btn-sm" href = "#" role = "button">Read more</a>
{% endblock lowslider %}
