{% extends "jbase.html" %}
{% load static %}
{% block title %} RETURN FROM INSTAPAY {% endblock title %}
{% block middle %}
                <p></p><p></p><p></p><p></p>
                <p>|</p>
                <p>|</p>
                <p>|</p>
                <p>|</p>
                <p>|</p>
                <p>|</p>

                <div class="yellow center">
                <h2>PLEASETOPMEUP</h2>
                 <h1 hazard>-----------------Site under construction-----------------</h1>
                 <p></p><p></p><p></p>
                 <p>|</p>
                 <p>|</p>
                 <p>|</p>
                 <p>|</p>
                 <p>|</p>
                 <p>|</p>
                 <p>|</p><p>|</p>
                </div>
{% endblock middle %}
{% block lowslider %}
<a class = "btn btn-info btn-sm" href = "{{ home }}" role = "button">Home</a>
{% endblock lowslider %}
